@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat:400,700');
* {
  box-sizing: border-box;
}
.twitter--hover:hover {
  background: #00aced !important;
}

.github--hover:hover {
  background: #333 !important;
}

.linkedin--hover:hover {
  background: #0077b5 !important;
}

.dev--hover:hover {
  background: white !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Montserrat', sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header__border {
  height: 6px;
  width: 100%;
  margin-top: -10px;
  &__image {
    width: 100%;
  }
}
.navbar {
  width: 100%;
  height: 100px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1.2em;
}

.container {
  text-align: center;
}
.logo {
  width: 150px;
  &__image {
    width: 60%;
  }
}

.about-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 200px);
  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.hero {
  display: grid;
  grid-template-rows: 300px 100px;
  min-height: calc(100vh - 100px);
  &__image {
    height: 100%;
    width: 40%;
    margin: 2em;
  }
  &__text {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
  }
  &__image-mobile {
    display: flex;
    justify-content: center;
  }
}

.menu {
  width: 25px;
  height: 25px;
  margin-bottom: 40%;
}
.hide-mobile {
  display: none;
  transition: transform 0.25s ease-in;
}
nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(36, 41, 44);
  height: 100%;
  z-index: 10;
  padding-top: 3em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 2em;
  transition: background-color 0.5s;
}
.exit-btn {
  margin-bottom: 1em;
  margin-top: -1.3em;
  color: white;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.inline-link {
  color: #333;
  -webkit-box-shadow: inset 0 -6px 0 #a9cde0;
  box-shadow: inset 0 -6px 0 #a9cde0;
  transition-property: box-shadow;
  transition-duration: 0.8s;
  text-decoration: none;
  &:hover {
    -webkit-box-shadow: inset 0 -20px 0 #a9cde0;
    box-shadow: inset 0 -20px 0 #a9cde0;
  }
}
.divider {
  border: 1px solid #d8d8d8;
  height: 1px;
  width: 100%;
}

header {
}
.layout-container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0px 20px 1.45rem;
  padding-top: 0;
  min-height: calc(100vh - 100px);
}
.about-page {
  margin-top: 50px;
  &__text {
    font-size: 2em;
    margin: 0;
  }
}
.about {
  width: 500px;
  padding: 10px;
  &__image {
    width: 420px;
  }
  &__title {
    font-weight: 600;
    font-size: 2em;
  }
  &__text {
    line-height: 1.7;
    font-size: 1.1em;
  }
  &__text-bold {
    font-weight: 600;
  }
  @media only screen and (max-width: 900px) {
    width: 100%;
    &__image {
      width: 100%;
    }
  }
}
.blog-page {
  margin-top: 50px;
  &__text {
    font-size: 2em;
    margin: 0;
  }
}
.portfolio-container {
  display: grid;
  max-width: 100%;
  grid-template-columns: minmax(min-content, 590px);
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  margin: 50px 0 20px 0;
  &__others {
    margin-bottom: 50px;
  }

  justify-content: center;
  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}
.tab {
  width: 100%;
  height: 20px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  :first-child {
    background: #e0443e;
  }
  &__button {
    background: #dea123;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    position: relative;
    margin-left: 5px;
  }
}
.portfolio {
  &__work {
    box-shadow: rgba(102, 51, 153, 0.1) 0px 4px 10px;
    border-radius: 5px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    overflow: hidden;
    &:hover {
      box-shadow: #50698a80 0px 8px 20px;
      transform: translateY(-3px);
    }
  }
  &__description {
    display: flex;
    justify-content: space-between;
    p {
      font-weight: 600;
      color: #333333;
    }
    &__links {
      margin-top: 16px;
      width: 70px;
      display: flex;
      justify-content: space-between;
    }
  }
  &__stack {
    p {
      margin: 0;
      color: #666666;
    }
  }
}
.post-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column-reverse;
}
.post {
  position: relative;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  padding-bottom: 50px;
  border-bottom: 1px solid #efefef;

  &__title {
    font-weight: 600;
    margin: 0;
    font-size: 1.5em;
  }

  &__date {
    margin: 5px 0px 15px;
    font-size: 0.8em;
    font-weight: 400;
    color: #8e8e8e;
  }

  &__readMore {
    font-size: 0.8em;
    display: inline-block;
    color: #20399d;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.share {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin: 20px 0;

  a {
    padding: 5px;
    border-radius: 50%;
    opacity: 1;
    &:hover {
      opacity: 1;
    }
  }

  &__container {
    display: inline-flex;

    &.twitter {
      background: #00aced;
    }

    &.linkedin {
      background: #0077b5;
    }
  }

  &__icon {
    margin: 0;
    width: 16px;
    height: 16px;
  }
}

.floating-share {
  display: flex;
  position: fixed;
  top: 30vh;
  flex-direction: column;
  left: 10px;
  height: 100px;
  justify-content: space-between;

  button {
    background: #bababa;
    padding: 5px;
    border-radius: 50%;
    border: 0;
    opacity: 1;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    // color: #069;
    cursor: pointer;
    transition: 0.3s;
    margin: 3px 0;
    z-index: 10;
    position: relative;
    &:hover {
      opacity: 1;
    }
  }

  &.hide {
    a {
      transform: scale(0);
    }
    button {
      transform: scale(0);
    }
  }
  a {
    transition: 0.3s;
    margin: 3px 0;
    z-index: 10;
    position: relative;
  }
  a {
    padding: 5px;
    border-radius: 50%;
    opacity: 1;
    &:hover {
      opacity: 1;
    }
  }
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}
.article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #4a4a4a;
  }
  .language-text {
    background-color: #ece0e2;
    color: #333333;
    padding: 2px;
    font-weight: 400;
  }
  p,
  li {
    line-height: 1.8;
    font-size: 1.1em;
    color: #5d686f;
    a {
      color: #666;
      -webkit-box-shadow: inset 0 -6px 0 #a9cde0;
      box-shadow: inset 0 -6px 0 #a9cde0;
      transition-property: box-shadow;
      transition-duration: 0.8s;
      text-decoration: none;
      &:hover {
        -webkit-box-shadow: inset 0 -20px 0 #a9cde0;
        box-shadow: inset 0 -20px 0 #a9cde0;
      }
    }
  }
  ul {
    list-style: square;
    padding-left: 40px;
    li {
      margin-bottom: calc(1.55rem / 2);
    }
  }
  &__backButton {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    color: #00aced;
    text-decoration: none;
    margin-top: 50px;
  }
  &__title {
    margin-top: 20px;
    font-weight: 700;
  }
  &__date {
    font-size: 0.8em;
    color: #8e8e8e;
    font-weight: 400;
  }
  &__author {
    font-size: 1em;
    color: #3b3b3b;
    font-weight: 500;
  }
  &__footer {
    display: flex;
    margin: 30px 0 50px 0;
    img {
      margin-right: 10px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
    p {
      max-width: 300px;
    }
    a {
      color: #666;
      -webkit-box-shadow: inset 0 -6px 0 #a9cde0;
      box-shadow: inset 0 -6px 0 #a9cde0;
      transition-property: box-shadow;
      transition-duration: 0.8s;
      text-decoration: none;
      &:hover {
        -webkit-box-shadow: inset 0 -20px 0 #a9cde0;
        box-shadow: inset 0 -20px 0 #a9cde0;
      }
    }
  }
}
.article-back-button {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: #4a4a4a;
  text-decoration: none;
  margin-top: 50px;

  &__text {
    width: 20px;
    margin-right: 5px;
  }
}

.menu-container {
  height: 40px;
  width: 40px;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #eef5db;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -4px;

  &__icons {
    width: 120px;
    margin: auto;
  }
  &__text {
    text-align: center;
    p {
      margin-top: 0px;
      font-family: 'Dancing Script', cursive;
      font-size: 0.8em;
    }
  }
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon {
    background: #bbbbbb;
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s;
    img {
      transition: 0.3s;
      width: 100%;
      margin: 0;

      &:hover {
        transform: scale(0.9);
      }
    }

    &:hover {
      transform: scale(1.15);
    }
  }
}

@media only screen and (min-width: 768px) {
  nav ul {
    width: 40%;
  }
  .footer {
    &__text {
      p {
        font-size: 1.1em;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .hero__image-desktop {
    display: none;
  }
  nav ul li a {
    background-color: rgb(49, 55, 59);

    &:hover {
      background-color: rgb(49, 73, 78);
    }
  }
  .logo__image {
    margin-left: -50px;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    &__text {
      font-size: 1.5em;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .navbar {
    padding: 2em 2.6em;
  }
  .show-desktop {
    display: block;
    margin: 0 auto 13% auto;
  }
  .hide-desktop {
    display: none;
  }

  nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0;
    li {
      float: left;
      a {
        color: #333333;
        background-color: inherit;
        text-align: right;
        font-weight: 500;
        transition: all 0.5s;
        &:after {
          transition: all 0.5s;
        }
        &:before {
          transition: all 0.5s;
        }
      }
    }
  }
  nav.stroke ul li a {
    position: relative;
  }
  nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #4f86c6;
    height: 4px;
  }
  .active-nav {
    background: #a9cde0;
  }
  nav.stroke ul li a:hover:after {
    width: 50%;
  }

  .hero__image-mobile {
    display: none;
  }
  .hero {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    &__text {
      text-align: left;
    }
  }
  .hero__image-desktop {
    height: 100%;
    width: 50%;
  }
  .hero__image-desktop__image {
    height: calc(100vh - 100px);
    width: 100%;
    position: relative;
  }
  .hero__image-text {
    margin: auto;
  }
}
