*{
    box-sizing: border-box;
}
.twitter--hover:hover {
    background: #00aced !important;
  }
  
  .github--hover:hover {
    background: #333 !important;
  }

  .linkedin--hover:hover {
    background: #0077B5 !important;
  }
  
  .dev--hover:hover {
    background: white !important;
  }

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin:0 !important;
    padding:0 !important;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em 1.2em;
    // text-align: center;
}

.container{
    text-align: center;
}

.hero{
    display: grid;
    grid-template-rows: 300px  100px;
    &__image{
        height: 100%;
        width: 40%;
        margin: 2em;
    }
    &__text{
        font-size: 2em;
    }
    &__image-mobile{
        display: flex;
        justify-content: center;
    }
}

.menu{
    width: 25px;
    height: 25px;
    margin-bottom: 40%;
}
.hide-mobile{
    display: none;
}
nav ul{
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36, 41, 44);
    height: 100%;
    z-index: 10;
    padding-top: 3em;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(49, 55, 59);
    transition: background-color .5s;

    &:hover{
        background-color: rgb(49, 73, 78)
    }
}
.exit-btn{
    margin-bottom: 1em;
    margin-top: -1.3em;
    color: white;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

header{
    
}

.footer{
    width: 100%; 
    height: 100px;
    background-color: #EEF5DB;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__icons{
        width: 200px;
        margin: auto;
    }
    &__text{
        text-align: center;
        p{
            margin-top: 0px;
        }
    }
}

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icon{
        background: #bbbbbb;
        width: 30px;
        height: 30px;
        padding: 8px;
        border-radius: 50%;
        transition: .3s;
        img{
            transition: .3s;
            width: 100%;
            margin: 0;

            &:hover{
                transform: scale(.9)
            }
        }

        &:hover{
            transform: scale(1.15)
        }

        
    }
}

@media only screen and (min-width: 768px){
    nav ul{
        width: 40%;
    }
}

@media only screen and (min-width: 1024px){
    .navbar{
        padding: 2em 2.6em;
    }

    .show-desktop{
        display: block;
        margin: 0 auto 13% auto;
    }
    .hide-desktop{
        display: none;
    }

    nav ul{
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li{
        float: left;
    }
    nav ul li a{
        color: black;
        background-color: inherit;
        text-align: right;
        &:hover{
            background-color: inherit;
        }
    }
    .hero__image-mobile{
        display: none;
    }
}
